/emulator/nbproject/private/
/emulator/build/
/emulator/dist/
emulator/error.log
emulator/roms/
emulator/memdump.log
emulator/arcadeflex.xml
emulator/arcadeflex.cfg
/frontend/nbproject/private/
/frontend/build/
/frontend/dist/
emulator/arcadeflex.jar
emulator/flexFrontend.jar
emulator/tilemaps.log
emulator/konamiicc.log
