/emulator/nbproject/private/
/emulator/build/
/emulator/dist/
emulator/error.log
emulator/roms/
emulator/memdump.log
emulator/arcadeflex.xml
emulator/arcadeflex.cfg
/frontend/nbproject/private/
/frontend/build/
/frontend/dist/
emulator/arcadeflex.jar
emulator/flexFrontend.jar
emulator/tilemaps.log
emulator/konamiicc.log
emulator/m6502.log
emulator/konami.log
emulator/nvram/*
emulator/pokeylog.log
emulator/eeprom.log
emulator/neclog.log
emulator/m68k.log
emulator/samples/*
/emulator/h6280.log
/convertor/target/
/frontend/target/
/emulator/target/
/emulator/temp.txt
